
*{
    background-image: linear-gradient( to right, rgb(146, 210, 140), green, rgb(53, 233, 233), rgb(229, 255, 0) );
}

@font-face {
    font-family: minhafonte;
    src: url(../fontes/WonderSmileBoldItalic_PERSONAL_USE_ONLY.otf);
}

.menu1{
    background-color: rgb(35, 10, 134);
    color:rgb(198, 176, 28);
    text-decoration: none;
    font-size: 95px;
    display:block;
    font-family: minhafonte;
    height: 10px;
    width: 850px;

}

.inicio{
    text-align: center;
}
.raca1 {

    background-color: rgb(255, 255, 255);
    color:rgb(179, 171, 21);
    display:block;
    text-align: center;
    font-size: 75px;
    
    
}
.raca2 {
    background-color: rgb(201, 225, 64);
    color:rgb(179, 171, 21);
    display: block;
    text-align: center;
    font-size: 75px;
    
}
.raca3 {
    background-color: rgb(201, 225, 64);
    color:rgb(179, 171, 21);
    display: block;
    text-align: center;
    font-size: 75px;
}
.basenji {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;

  
}

.parag1 {
    background-color: rgb(175, 211, 145);
    border: 10px solid rgb(92, 219, 67);
    padding: 15px 35px 35px 35px;
    margin: 100px;
    color: white;
}


.parag2 {
    background-color: rgb(175, 211, 145);
    border: 10px solid rgb(92, 219, 67);
    padding: 15px 35px 35px 35px;
    margin: 100px;
    color: white;
}


.parag3 {
    background-color: rgb(175, 211, 145);
    border: 10px solid rgb(92, 219, 67);
    padding: 15px 35px 35px 35px;
    margin: 100px;
    color: white;
}


.mennu {
    background-color: rgb(192, 145, 58);
}

.topo1{
    text-align:right;
    text-decoration: none;
    color:rgb(114, 180, 43);
    font-size: 18px;
    
}

.topo2{
    text-align: right;
    text-decoration: none;
    color:rgb(114, 180, 43);
    font-size: 18px;
    
}

.topo3{
    text-align: right;
    text-decoration: none;
    color:rgb(114, 180, 43);
    font-size: 18px;
    
}

.topo:hover{
    visibility:hidden;
    display:block;
    text-align: center;
    text-decoration: none;
    color:rgb(114, 180, 43);
    font-size: 30px;
    border: 2px solid rgb(176, 136, 136);
    

}